 /*
    #252323
    #70798C
    #F5F1ED
    #DAD2BC
    #A99985 
  */
.body {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-color: rgb(232, 234, 235);
    /* border: solid 1px red; */
}

.body__app {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    max-width: 2020px;
    margin: 170px 15vw 0 0;
    /* border: solid 1px red; */
}

.body__title {
    font-family: 'Murecho', sans-serif;
    margin: auto;
}

.body__slider {
    flex-grow: 1;
    /* display: flex; */
    align-self: end;
    /* min-width: 720px;
    max-width: 1020px;
    min-height: 250px; */
    /* margin: 20px auto; */
}

.slider {
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    /* flex-wrap: wrap; */
    width: 430px;
    border: solid 1px rgb(0, 0, 0);
}

.slider__book-card {
    display: flex;
    flex-direction: row;
}

.slider__book-card:nth-child(even) {
    flex-direction: row-reverse;
}

.book-card {
    display: flex;
    color: rgb(252, 252, 252);
    flex-direction: column;
    height: 160px;
    width: 240px;
    padding: 0 30px;
    background-color: #1a1616;
    border-radius: 2px;
    margin-bottom: 1px;
}


.book-card__title {
    font-family: 'Murecho', sans-serif;
}

.book-card__remove {
    background-color: white;
    border: none;
    content: '';
    font-size: 48px;
    width: 130px;
}

.slider__book-card:nth-child(even) .book-card__remove {
    transform: rotate(180deg);
}

.nav {
    font-size: 15px;
    overflow: clip;
    /* text-overflow: ellipsis " [..]"; */
    white-space: nowrap;
    width: 390px;
    /* height: ; */
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.nav__item {
    cursor: pointer; 
    
}

.modal {
    background-color: #2f4858;
    color: white;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    flex-direction: column;
    max-height: 550px;
    max-width: 450px;
    border: red 1px solid;
}

.modal__label {
    display: flex;
    flex-direction: column;
}

.not-visible {
    display: none;
}